In [26]:
import geopandas as gpd
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
country = world.query('continent == "North America"')
country

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
3,35623680,North America,Canada,CAN,1674000.0,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,326625791,North America,United States of America,USA,18560000.0,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."
16,10646714,North America,Haiti,HTI,19340.0,"POLYGON ((-71.71236 19.71446, -71.62487 19.169..."
17,10734247,North America,Dominican Rep.,DOM,161900.0,"POLYGON ((-71.70830 18.04500, -71.68774 18.316..."
19,329988,North America,Bahamas,BHS,9066.0,"MULTIPOLYGON (((-78.98000 26.79000, -78.51000 ..."
22,57713,North America,Greenland,GRL,2173.0,"POLYGON ((-46.76379 82.62796, -43.40644 83.225..."
27,124574795,North America,Mexico,MEX,2307000.0,"POLYGON ((-117.12776 32.53534, -115.99135 32.6..."
33,3753142,North America,Panama,PAN,93120.0,"POLYGON ((-77.35336 8.67050, -77.47472 8.52429..."
34,4930258,North America,Costa Rica,CRI,79260.0,"POLYGON ((-82.54620 9.56613, -82.93289 9.47681..."
35,6025951,North America,Nicaragua,NIC,33550.0,"POLYGON ((-83.65561 10.93876, -83.89505 10.726..."
36,9038741,North America,Honduras,HND,43190.0,"POLYGON ((-83.14722 14.99583, -83.48999 15.016..."
37,6172011,North America,El Salvador,SLV,54790.0,"POLYGON ((-89.35333 14.42413, -89.05851 14.340..."
38,15460732,North America,Guatemala,GTM,131800.0,"POLYGON ((-92.22775 14.53883, -92.20323 14.830..."
39,360346,North America,Belize,BLZ,3088.0,"POLYGON ((-89.14308 17.80832, -89.15091 17.955..."
45,3351827,North America,Puerto Rico,PRI,131000.0,"POLYGON ((-66.28243 18.51476, -65.77130 18.426..."
46,2990561,North America,Jamaica,JAM,25390.0,"POLYGON ((-77.56960 18.49053, -76.89662 18.400..."
47,11147407,North America,Cuba,CUB,132900.0,"POLYGON ((-82.26815 23.18861, -81.40446 23.117..."
175,1218208,North America,Trinidad and Tobago,TTO,43570.0,"POLYGON ((-61.68000 10.76000, -61.10500 10.890..."

In [69]:
from pytrends.request import TrendReq
import os
import random 
import pandas as pd
pytrends = TrendReq(hl='en-US', tz=360, timeout=(10,30))


def get_dataframe(filename):
    dataframe=pd.read_csv(filename)
    return dataframe

def to_csv(country, geo_code, start_year, end_year):
    path = 'datasets'
    filepath = os.path.join(path, str(country) + '.csv')
    if os.path.exists(filepath):
        return 
        
    for i in range(start_year, end_year+1):
        print(i)
        colors = []
        for j in range(0, 10):
            hexadecimal = "#" + ''.join([random.choice('ABCDEF0123456789') for k in range(6)])
            colors.append(hexadecimal)
            
        try:
            df=pytrends.top_charts(i, hl='en-US', tz=360, geo=geo_code)
        except IndexError:
            print("error")
            i += 1
            df = pytrends.top_charts(i, hl='en-US', tz=360, geo=geo_code)
        
        df.drop('exploreQuery', axis=1, inplace=True)
        df["year"]  = i
        df['color'] = colors
        if i == start_year:
            df.to_csv(filepath, encoding='utf-8', index=False, mode='w')
        else:
            df.to_csv(filepath, encoding='utf-8', index=False, mode='a')

            
string = 'United Kingdom'        
to_csv(string, 'GB', 2011, 2021)

In [70]:
result = get_dataframe('datasets/United Kingdom.csv')
print(result.to_string())

                     title  year    color
0            Breaking Dawn  2011  #FB1075
1      Final Destination 5  2011  #359508
2             Mean Girls 2  2011  #AB13B4
3                True Grit  2011  #7D8688
4      Conan The Barbarian  2011  #72AA44
5                 Scream 4  2011  #68E211
6         The Inbetweeners  2011  #18F3AA
7           Little Fockers  2011  #5F8DA4
8           Transformers 3  2011  #9F0E9F
9              Unstoppable  2011  #6F04E0
10                   title  year    color
11        Stella McCartney  2012  #0A20CA
12          Karl Lagerfeld  2012  #2423A7
13       Victoria's Secret  2012  #1CAF77
14         Alice Temperley  2012  #5CAD78
15                 Versace  2012  #AFEA86
16                Mulberry  2012  #AA4355
17       Marks and Spencer  2012  #99D6BF
18             Ossie Clark  2012  #CC4023
19                Burberry  2012  #58E5B5
20              LK Bennett  2012  #C5A3E0
21                   title  year    color
22          Grand National  2013  #6C1A64
23               Wimbledon  2013  #4D8823
24              Eurovision  2013  #412FCA
25      Confederations Cup  2013  #C8C19B
26              The Oscars  2013  #F52D21
27            Red Nose Day  2013  #DF3C07
28             Glastonbury  2013  #03E9BA
29                 Lovebox  2013  #684C4F
30             Brit Awards  2013  #079F6B
31               The Ashes  2013  #6691F2
32                   title  year    color
33             Cilla Black  2015  #89CD7B
34     Lady Colin Campbell  2015  #8E30B8
35          Anne Kirkbride  2015  #1A417A
36                   Adele  2015  #6E82CE
37          Caitlyn Jenner  2015  #C11039
38               Ruby Rose  2015  #24A0E2
39           Katie Hopkins  2015  #FBD0D0
40                 Madonna  2015  #1C0A95
41    Bobbi Kristina Brown  2015  #459FDB
42                Rita Ora  2015  #517660
43                   title  year    color
44             Cilla Black  2015  #911BEC
45     Lady Colin Campbell  2015  #8775D1
46          Anne Kirkbride  2015  #3EB550
47                   Adele  2015  #2C0E93
48          Caitlyn Jenner  2015  #500496
49               Ruby Rose  2015  #CFE528
50           Katie Hopkins  2015  #E388DB
51                 Madonna  2015  #4E295F
52    Bobbi Kristina Brown  2015  #58C64C
53                Rita Ora  2015  #EC232F
54                   title  year    color
55                Euro2016  2016  #89AFAD
56              Pokemon Go  2016  #B83A63
57             David Bowie  2016  #6D4A0D
58            Donald Trump  2016  #C6555A
59                  Prince  2016  #A99327
60           EU referendum  2016  #BC681C
61            Alan Rickman  2016  #FA5C82
62                Olympics  2016  #32CD1C
63             US election  2016  #6FB76C
64                Deadpool  2016  #CE2095
65                   title  year    color
66           Meghan Markle  2017  #B0DEBE
67                iPhone 8  2017  #3A57A2
68          Hurricane Irma  2017  #E954AC
69          Fidget spinner  2017  #AD39E2
70      Manchester bombing  2017  #B1B1F0
71          Grenfell Tower  2017  #0A365E
72          13 Reasons Why  2017  #D84F39
73   Tara Palmer Tomkinson  2017  #8C1C2A
74        Shannon Matthews  2017  #669EC6
75                iPhone X  2017  #C2CBB6
76                   title  year    color
77               World Cup  2018  #B843DF
78           Meghan Markle  2018  #F16D8E
79           Royal Wedding  2018  #2DD5B4
80           Black Panther  2018  #E0E792
81         Roxanne Pallett  2018  #DB2BAE
82                Fortnite  2018  #D2CA4B
83             Demi Lovato  2018  #37E5CF
84           Ant McPartlin  2018  #531128
85          A Star Is Born  2018  #5726B1
86        Khloe Kardashian  2018  #6E6A61
87                   title  year    color
88         Rugby World Cup  2019  #0D063B
89       Cricket World Cup  2019  #C9323C
90         Game of Thrones  2019  #75DA44
91               Chernobyl  2019  #3CF756
92                  Thanos  2019  #F66EF1
93              Notre Dame  2019  #E77274
94        Avengers Endgame  2019  #795BC9
95               iPhone 11  2019  #5501D8
96          Caitlyn Jenner  2019  #C502CE
97                   Joker  2019  #E58F3F
98                   title  year    color
99             Coronavirus  2020  #22D65D
100            US election  2020  #BA963F
101         Caroline Flack  2020  #1F040E
102   Coronavirus symptoms  2020  #41A16E
103     Coronavirus update  2020  #03601C
104         Premier League  2020  #29F417
105          Boris Johnson  2020  #BE975B
106    Eat Out to Help Out  2020  #1008ED
107            Kobe Bryant  2020  #067AC0
108            Kim Jong-un  2020  #E557B6
109                  title  year    color
110                  Euros  2021  #5259CA
111         Premier League  2021  #FEB3BE
112      Christian Eriksen  2021  #B72604
113          Covid vaccine  2021  #0BDAC0
114          Prince Philip  2021  #1359E1
115           Matt Hancock  2021  #CC16A0
116          Emma Raducanu  2021  #0290B3
117          Sarah Everard  2021  #B7E59D
118     England vs Denmark  2021  #B9CEF9
119              Sean Lock  2021  #1DB501